body
{
	background-color: #232323;
	margin: 0;
}
.square{
	width: 30%;
	background: #232323;
	padding-bottom: 30%;
	margin: 1.66%;
	float: left;
	border-radius: 20%;
	transition: background 1.0s;
}
#container{
	margin: 20px auto;
	max-width: 600px;
}
h1{
	background: brown;
	text-align: center;
	color: white;
	margin: 0;
	font-weight: normal;
	text-transform: uppercase;
}
h2{
	background: brown;
	margin: 0;
	text-align: center;
	color: white;
}
#message{
	color: brown;
	display: inline-block;
	width: 20%;
	font-size: inherit;
	font-weight: 700;

}
#stripe{
	background: white;
	height: 30px;
	text-align: center;
}
.selected{
	color: white;
	background: brown;
}
#code{
	font-size: 200%;
	text-transform: uppercase;
}
button{
	text-transform: uppercase;
	border: none;
	background: none;
	height: 100%;
	font-weight:700;
	color: brown;
	letter-spacing: 1px;
	font-size: inherit;
	transition: all 0.5s;
	outline: none;
}
button:hover{
	color: white;
	background: brown;
}